# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
pip-selfcheck.json

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the binary.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.log
coverage.xml
nosetests.xml
pytest_cache/
.testmondata
.cache/
coverage/

# pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# dotenv
.env

# Secrets configuration
config/secrets.properties

# PyCharm specific files
.idea/

# VSCode specific files
.vscode/

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db

# GitHub Actions workflows (optional, keep if developing CI/CD workflows locally)
# .github/